---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: "EB Garamond", sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 2;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

$header_height: 165px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
// @import "minima";
html,
body {
  height: 100%;
  font-family: $base-font-family;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

tt,
code,
kbd,
samp,
pre {
  font-family: "Fira Mono", monospace;
  font-size: 15px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.65em;
}

h3 {
  font-size: 1.45em;
}

h4 {
  font-size: 1.15em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.8em 0 0.3em 0;
}

a {
  color: black;
  &:hover {
    color: grey;
  }
}

.table-wrapper {
  position: relative;
  margin: 15px 0;
  overflow-x: auto;
  table {
    border-collapse: collapse;
    margin: 0 auto;
    min-width: 35%;
  }

  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 8px;
  }

  tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
  }
}

#page-header {
  background-color: black;
  position: relative;
  height: $header_height;
  margin-bottom: 105px;
  #title {
    margin: 0;
    padding: 10px;
    font-family: "Lobster", cursive;
    font-size: 55px;
    text-align: center;
    color: white;
  }
  .site-brand {
    position: relative;
    text-align: center;
    img {
      border-radius: 100%;
    }
  }
}

nav {
  text-align: center;
  span {
    color: #840705;
    a {
      font-weight: bold;
      font-style: italic;
      color: inherit;
      &:hover {
        color: #e61610;
        text-decoration: none;
      }
    }
  }
}

.page-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.wrapper {
  margin: auto;
}
.post-header {
  margin: 1em 0;
}
.post-title {
  margin-bottom: 0.15em;
}
.post-meta,
.post-meta *:not(i) {
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  margin: 0 !important;
}

@media screen and (max-width: 385px) {
  #page-footer .intro-lines {
    padding-left: 0 !important;
    text-align: center !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header#page-header #title {
    font-size: 2em;
  }
  .wrapper {
    width: 90%;
  }

  .post-title {
    .post-meta,
    .post-meta *:not(i) {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 45%;
  }
}

.post-list {
  list-style-type: none;
  .post {
    margin: 40px 0;
    .comment-count {
      i {
        padding-right: 8px;
      }
    }
  }
}

.post-preview,
.post-content {
  p,
  a,
  li,
  q {
    line-height: 1.6;
  }
  img {
    max-width: 100%;
  }
}

.pagination {
  display: block;
  .btn {
    background-color: black;
    border-radius: 0;
    box-shadow: 0 2px 0 0 grey;
    color: white;
    font-family: "Fira Mono", monospace;
    i {
      font-size: 20px;
      vertical-align: text-bottom;
    }
  }
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}

.pagination-clear {
  clear: both;
}

footer#page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  .wrapper {
    text-align: center;
    > div {
      vertical-align: middle;
    }
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 100%;
    }
    .info {
      display: inline-block;
      ul {
        padding: 10px 0 0 0;
        margin: 0;
        text-align: center;
        li {
          display: inline;
          padding: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        }
      }
    }
    .intro-lines {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      text-align: left;
      p {
        font-family: "Fira Mono", monospace;
        color: white;
        font-size: 14px;
      }
    }
  }
}

@import "syntax-highlighting";
