---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$header_height: 165px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
// @import "minima";

h1, h2, h3, h4, h5, h6, a, li {
  margin-top: 0;
  font-family: $base-font-family;
}

tt, code, kbd, samp, pre {
  font-family: 'Fira Code Retina', monospace;
}

a {
  color: black;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

header#page-header{
  background-color: black;
  position: relative;
  height: $header_height;
  margin-bottom: 105px;
  #title {
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    color: white;
  }
  .site-brand {
    position: relative;
    text-align: center;
    img {
      border-radius: 100%;
    }
  }
}

nav {
  text-align: center;
  padding: 20px 0;
  span {
    color: #840705;
    a {
      font-family: 'Galada', cursive !important;
      color: inherit;
      &:hover {
        color: #e61610;
        text-decoration: none;
      }
    }
  }
}

.page-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.wrapper {
  width: 50%;
  margin: auto;
}

.post-list {
  list-style-type: none;
  .post {
    margin: 40px 0;
    .comment-count {
      i {
        padding-right: 8px;
      }
    }
  }
}

.post-title {
  font-family: 'Roboto Condensed', sans-serif;
  .post-meta, .post-meta *:not(i) {
    font-family: inherit;
    font-size: 18px;
    font-weight: lighter;
  }
}

.post-preview, .post-content {
  p, a {
    font-family: 'Roboto', sans-serif;
  }
  img {
    max-width: 100%;
  }
}

footer#page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  .wrapper {
    text-align: center;
    > div {
      vertical-align: middle;
    }
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 100%;
    }
    .info {
      display: inline-block;
      ul {
        padding: 10px 0 0 0;
        margin: 0;
        text-align: center;
        li {
          display: inline;
          padding: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        }
      }
    }
    .intro-lines {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      text-align: left;
      p {
        font-family: 'Fira Code Retina', 'Fira Mono', monospace;
        color: white;
      }
    }
  }
}

.pagination {
  display: block;
  .btn {
    background-color: black;
    border-radius: 0;
    box-shadow: 0 2px 0 0 grey;
    color: white;
    font-family: 'Fira Code Retina', 'Fira Mono', monospace;
    i {
      font-size: 20px;
      vertical-align: text-bottom;
    }
  }
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}

.pagination-clear {
  clear: both;
}

@import 'syntax-highlighting';
