---
layout: base
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          <span class="post-meta publish-date">on {{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        <div class="post-preview">
          {% if post.content contains '<!-- more -->' %}
              {{ post.content | split:'<!-- more -->' | first }}
          {% else %}
              {{ post.excerpt }}
          {% endif %}
          <a href="{{ post.url }}">Read more...</a>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
