<footer id="page-footer">
  <div class="wrapper">
    <div class="info">
      <img src="/images/avatar.jpg" alt="avatar" class="avatar" />
      <ul class="social-links">
        <li>
          <a href="https://github.com/mozartilize"
            ><i class="fa fa-code-branch"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="intro-lines">
      <p>
        A developer
      </p>
      <p>
        A tweaker
      </p>
      <p>
        An opened-source addict
      </p>
    </div>
  </div>
</footer>
