<footer id="page-footer">
  <div class="wrapper">
    <div class="info">
      <img src="/images/avatar.jpg" alt="avatar" class="avatar" />
      <ul class="social-links">
        <li><a href="https://github.com/arshavindn"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://facebook.com/arshavindn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/arshavindn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="intro-lines">
      <p>
        A coder
      </p>
      <p>
        A tweaker
      </p>
      <p>
        An opened-source addict
      </p>
    </div>
  </div>
</footer>
