<head>
  <title>
    {% if page.title %}{{ page.title|escape }}{% else %}{{ site.title|escape }}{% endif %}
  </title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lobster" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.12.1/css/all.css" />
  <link rel="stylesheet" href="{{ " /css/fonts/Inter/inter.css" | prepend: full_base_url }}">
  <link rel="stylesheet" href="{{ " /css/main.css" | prepend: full_base_url }}">
</head>